.h5 {
    padding: 10px;
}

.col {
    padding: 10px;
}



#monedas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#form1{
    
   
}

#form2{
    display: none;
    
}






