.h5 {
    padding: 10px;
}

.col {
    padding: 10px;
}



#monedas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#section1{
    
}

#section2{
    display: none;  
    
}

a:active {
    background-color: rgb(228, 238, 87) !important;
  }


  #tusd{
    margin-bottom: 10px;
    
  }

  #panel{
    margin-left: 20px;
  }

  .body{
    width: 100%;
  }









